<div class="mt-12 md:mt-0">
  <canvas id="c" style="border: 1px solid grey; " ></canvas>

  <div class="controls w-full">
    <div class="pt-6">
      <label for="angle-control" class="text-lg font-medium leading-5">Döndür:</label>
      <input type="range" id="angle-control" value="0" min="-180" max="180" class="w-full" disabled>
    </div>
    <div class="pt-6">
      <label for="scale-control" class="text-lg font-medium leading-5">Boyut:</label>
      <input type="range" id="scale-control" value="100" min="50" max="200" class="w-full" disabled>
    </div>
  </div>
</div>